{% extends 'main.html' %}
{% load static %}
{% block content %}

<style>
  .dashboardContainer{
    width: 50%;
  }

  @media only screen and (max-width: 767px) {
    .dashboardContainer{
      width: 100%;
    }
  }
</style>

<div class="maincontainer">
    <section class="px-lg-0 p-4 text-black vertical-home ms-lg-5">
        <div class="">
            <h3>Dashboard</h3>
        </div>
        <div class="dashboardContainer">
            <div class="d-lg-flex justify-content-between">
                <canvas id="dreamsChart"></canvas>
                <canvas id="historyGraph"></canvas>
            </div>
              
        </div>
    </section>
</div>

<div id="myDreams" data-mydreams="{{ my_dreams_count|safe }}"></div>
<div id="averageDreams" data-mydreams="{{ average_dreams|safe }}"></div>



<script>
    var myDreams = document.getElementById('myDreams').dataset.mydreams;
    var averageDreams = document.getElementById('averageDreams').dataset.mydreams;

    const ctx = document.getElementById('dreamsChart');
    new Chart(ctx, {
    type: 'bar',
    data: {
      labels: ["My Dreams", "Average Users' Dreams"],
      datasets: [{
        label: 'Total Dreams',
        data: [myDreams, averageDreams],
        borderWidth: 1,
        backgroundColor: [
      '#756AB6',
      '#AC87C5',
    ]
      }]
    },
    options: {
      scales: {
        y: {
          beginAtZero: true
        }
      }
    }
  });


  $(document).ready(function() {
    var historyGraphLabels, historyGraphdata;  // Declare variables outside the fetch callback

    // Make an AJAX request to your Django endpoint
    fetch('{% url "history-graph" %}')
        .then(response => response.json())
        .then(data => {
            // Assign values to the variables
            historyGraphLabels = data.historyGraphLabels;
            historyGraphdata = data.historyGraphdata;

            // Create the Chart instance
            const config = {
                type: 'line',
                data: {
                    labels: historyGraphLabels,
                    datasets: [{
                        label: 'My Dream Count',
                        data: historyGraphdata,
                        fill: false,
                        borderColor: 'rgb(75, 192, 192)',
                        tension: 0.1
                    }]
                },
                options: {
                    scales: {
                        y: {
                            beginAtZero: true,
                            suggestedMin: 0  // Set the suggested minimum value for the y-axis
                        }
                    }
                }
            };

            const hg = document.getElementById('historyGraph').getContext('2d');
            const historyGraph = new Chart(hg, config);
        })
        .catch(error => {
            console.error('Error fetching data:', error);
        });
});


    </script>


{% endblock content %}