{% extends 'main.html' %}
{% load static %}
{% block content %}

<style>
    .maincontainer{
        word-wrap: break-word;
    }
</style>


<div class="maincontainer d-flex justify-content-center">
    <section class="px-lg-0 p-4 text-black vertical-home ms-lg-5 w-lg-50">
        <div class="mt-lg-5">
            <h3><b>{{dream.title}}</b></h3>
        </div>

        <div class="">
            <p>{{dream.body}}</p>
        </div>

        <div class="">
            <small class="text-muted">{% if dream.updated|date:"U" != dream.created|date:"U" %}
                {{ dream.updated }} (edited)
            {% else %}
                {{ dream.created }}
            {% endif %}
            </small>
        </div>

    </section>
</div>

{% endblock content %}