{% extends 'main.html' %}
{% load static %}
{% block content %}

<link rel="stylesheet" href="{% static 'style/note.css' %}">
<link rel="stylesheet" href="{% static 'style/dropdown.css' %}">

<div class="container maincontainer">
    <section class="pt-5 px-lg-0 p-4 text-black vertical-home">
        <div class="row">
            <div class="col-lg-2 wrapper">
              <li class="add-box" data-bs-toggle="modal" data-bs-target="#addNote">
                  <div class="icon"><i class="uil uil-plus"></i></div>
                  <p>Add new dream</p>
              </li>       
            </div>
            {% for note in notes %}
            <div class="col-lg-2 wrapper" id="note-{{note.id}}">
                <div class="box-own-note">
                    <h4 class="">{{note.title|truncatechars:33}}</h4>
                    <div class="overflow-auto" style="max-height: 130px;" data-title="{{note.title}}" id="bodyfield-{{note.id}}">
                        <p class="">{{note.body|linebreaks}}</p>
                    </div>
                </div>
                <div class="box-own-date d-flex justify-content-between">
                    <div class="">
                        <p class="">{{note.updated}}</p>
                    </div>
                    <div class="dropdown" tabindex="0" id="note-dropdown" style="margin-top: -5px">
                        <div class="dots">&ctdot;</div>
                        <div class="dropdown-menu shadow">


                            <button
                                data-bs-toggle="modal"
                                class="dropdown-item edit-note-btn"
                                data-bs-target="#editNote"
                                data-note-id="{{note.id}}">
                                Edit Dream
                            </button>


                            <form id="delete-note-form-{{note.id}}" method="post" action="{% url 'delete_note' note.id %}">
                                {% csrf_token %}
                                <button type="button" class="dropdown-item delete-note-btn" data-bs-toggle="modal" data-bs-target="#confirmDeleteModal">Delete</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        {% endfor %}
        </div>


        <!--DELETE NOTE MODAL-->
        <div class="modal fade" id="confirmDeleteModal" tabindex="-1">
          <div class="modal-dialog modal-dialog-centered">
              <div class="modal-content">
                  <div class="modal-header">
                      <h5 class="modal-title" id="confirmDeleteModalLabel">Delete Dream</h5>
                      <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                  </div>
                  <div class="modal-body">
                      Are you sure you want to delete this dream?
                  </div>
                  <div class="modal-footer d-flex justify-content-between">
                      <button type="button" class="btn btn-light border btn-own-half" data-bs-dismiss="modal">Cancel</button>
                      <button type="button" class="btn btn-light bg-own-pink btn-own-half text-white" id="confirmDeleteBtn" data-form-id="">Delete</button>
                  </div>
              </div>
          </div>
      </div>
      <!------------------------>
          
    <!--Add Note Modal-------------------->
      <div class="modal fade" tabindex="-1" id="addNote">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Write your Dream</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    {% csrf_token %}
                    <form class="note-form" data-user-id="{{ request.user }}" data-home-url="{% url 'home' %}" method="post">
                        <input type="text" class="form-control" name="title" id="title" placeholder="Title (optional)">
                        <textarea name="body" id="body" class="form-control mt-2" rows="5" placeholder="Your dream goes here..." required></textarea>

                        <!-- Checkbox for important field -->
                        <div class="form-check mt-2">
                            <input class="form-check-input" type="checkbox" name="important" id="important">
                            <label class="form-check-label" for="important">
                                Mark as Important
                            </label>
                        </div>

                        <div class="d-flex mt-2">
                            <button type="button" class="btn btn-light border" data-bs-dismiss="modal">Close</button>
                            <button type="submit" class="btn btn-light bg-own-main text-white ms-3">Save changes</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
      </div>
      <!--------------------------->



      <!--Edit Note Modal----------------->
      <div class="modal fade" tabindex="-1" id="editNote">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title">Edit Dream</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form method="post" action="" id="editNoteForm">
                        {% csrf_token %}

                        <input type="text" name="title" id="editTitle" class="form-control" placeholder="Title">
                        <textarea name="body" id="editBody" class="form-control mt-2" rows="5" placeholder="Your dream goes here..." required></textarea>

                        <!-- Checkbox for important field -->
                        <div class="form-check mt-2">
                            <input class="form-check-input" type="checkbox" name="important" id="editImportant">
                            <label class="form-check-label" for="editImportant">
                                Mark as Important
                            </label>
                        </div>

                        <div class="d-flex mt-2">
                            <button type="button" class="btn btn-light border" data-bs-dismiss="modal">Close</button>
                            <button type="submit" class="btn btn-light bg-own-main text-white ms-3">Save Changes</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
      </div>
      <!---------------------------->


          

    </section>
    

    <script src="{% static 'javascript/note.js' %}"></script>
</div>



{% endblock content %}