body {
    background: #edeef0 !important;
    overflow: hidden;
}

a{
    text-decoration: none !important;
}

.centerbox {
    margin: auto;
    width: 25%;
}

.vertical-center{
    margin-top: 10%;
}

.vertical-center-2{
    margin-top: 5%;
}

.vertical-home{
    margin-top: 0%;
}

.vertical-dreams{
    margin-top: 1%;
}


.title{
    font-family: 'Satisfy', cursive;
    font-size: 35px;
}

.bg-own-main{
    background: #AC87C5 !important;
}

.bg-own-secondary{
    background: #756AB6 !important; 
}

.bg-own-pink{
    background: #E0AED0 !important;
}

.bg-own-light{
    background: #f9f9fe !important;
}

.bg-own-grey{
    background: #9CA3AF !important;
}

.text-own-main{
    color: #AC87C5 !important;
}

.text-own-secondary{
    color: #756AB6 !important;
}

.text-own-pink{
    color: #E0AED0 !important;
}

.text-own-light{
    color: #f9f9fe !important;
}

.text-own-grey{
    color: #9CA3AF !important;
}

.btn-own-long{
    width: 100%;
}

.btn-own-half{
    width: 47%;
}

.bg-important{
    background-color: #E4B77D !important;
}



.btn-own-main{
    background-color: #AC87C5 !important;
    color: white !important;
}

.btn-own-outline-main{
    border-color: #AC87C5 !important;
    color: black !important;
}

.btn-own-outline-main:hover{
    background-color: #AC87C5 !important;
    color: white !important;
}

.btn-own-secondary{
    background-color: #756AB6 !important;
}

.btn-own-outline-secondary{
    border-color: #756AB6 !important;
    color: #756AB6 !important;
}

.btn-own-outline-secondary:hover{
    background-color: #756AB6 !important;
    color: white !important;
}


.maincontainer{
    width: 95% !important;
}

.form-control::placeholder{
    color: #9CA3AF !important;
}

.form-control:focus {
    border-color: #AC87C5 !important;
    box-shadow: 0 0 0 0.25rem #756AB6 !important;
}

.footer{
    margin-bottom: 7%; 
    margin-left: 3%;
}