body {
    background: #edeef0 !important;
}

.centerbox {
    margin: auto;
}

.vertical-center{
    margin-top: 10%;
}

.vertical-home{
    margin-top: 0%;
}

.vertical-dreams{
    margin-top: 5%;
}


.title{
    font-family: 'Satisfy', cursive;
    font-size: 50px;
}

.bg-own-main{
    background: #AC87C5 !important;
}

.bg-own-secondary{
    background: #756AB6 !important; 
}

.bg-own-pink{
    background: #E0AED0 !important;
}

.btn-own-long{
    width: 100%;
}

.btn-own-half{
    width: 47%;
}

.maincontainer{
    width: 75% !important;
}

.bg-important{
    background-color: #E4B77D !important;
}



.btn-own-main{
    background-color: #AC87C5 !important;
    color: white !important;
}

.btn-own-outline-main{
    border-color: #AC87C5 !important;
    color: black !important;
}

.btn-own-outline-main:hover{
    background-color: #AC87C5 !important;
    color: white !important;
}