@media only screen and (max-width: 767px) {
    .centerbox{
        position: absolute;
        width: 80%;
    }

    .title{
        font-family: 'Satisfy', cursive;
        font-size: 35px;
    }

    .vertical-center{
        margin-top: 30%;
    }
    
    .vertical-home{
        margin-top: 10%;
    }

    .vertical-dreams{
        margin-top: 15%;
    }

    .maincontainer{
        width: 100% !important;
    }
}